# 5章 顧客の退会を予測する１０本ノック

引き続き、スポーツジムの会員データを使って顧客の行動を分析していきます。  
３章では顧客の全体像を把握し、4章では数ヶ月利用している顧客の来月の利用回数の予測を行いました。   
ここでは、教師あり学習の分類を用いて、顧客の退会予測を取り扱います。

### ノック41：データを読み込んで利用データを整形しよう

In [1]:
!ls

'5章 顧客の退会を予測する１０本ノック_answer.ipynb'   customer_join.csv
'5章 顧客の退会を予測する１０本ノック.ipynb'	      use_log_months.csv

In [18]:
import pandas as pd
df_customer_join = pd.read_csv("./customer_join.csv")
df_use_log_months = pd.read_csv("./use_log_months.csv")

In [15]:
df_use_log_months.head()

           customer_id  count
年月
2018-04-01    AS002855      4
2018-04-01    AS009013      2
2018-04-01    AS009373      3
2018-04-01    AS015315      6
2018-04-01    AS015739      7

In [32]:
# 当月と一ヶ月前の利用履歴飲みのデータを作成
df_41_uselog = df_use_log_months.copy()

df_41_uselog["年月"] = pd.to_datetime(df_41_uselog["年月"], format="%Y%m")
df_41_uselog.set_index("年月", inplace=True)

g = df_41_uselog.groupby("customer_id")

tmp = list()
for customer, df in list(g):
    df["count_1"]= df["count"].shift()
    tmp.append(df.dropna())
uselog = pd.concat(tmp)

In [33]:
uselog

           customer_id  count  count_1
年月
2018-05-01    AS002855      5      4.0
2018-06-01    AS002855      5      5.0
2018-07-01    AS002855      5      5.0
2018-08-01    AS002855      3      5.0
2018-09-01    AS002855      7      3.0
...                ...    ...      ...
2018-11-01    TS999855      4      4.0
2018-12-01    TS999855      5      4.0
2019-01-01    TS999855      7      5.0
2019-02-01    TS999855      4      7.0
2019-03-01    TS999855      4      4.0

[32650 rows x 3 columns]

### ノック42：退会前月の退会顧客データを作成しよう

### ノック43：継続顧客のデータを作成しよう

### ノック44：予測する月の在籍期間を作成しよう

### ノック45：欠損値を除去しよう

### ノック46：文字列型の変数を処理できるように整形しよう

### ノック47：決定木を用いて退会予測モデルを作成してみよう

### ノック48：予測モデルの評価を行ない、モデルのチューニングをしてみよう

### ノック49：モデルに寄与している変数を確認しよう

### ノック50：顧客の退会を予測しよう