In [1]:
import warnings
warnings.filterwarnings('ignore')

# 5章 顧客の退会を予測する１０本ノック

引き続き、スポーツジムの会員データを使って顧客の行動を分析していきます。  
３章では顧客の全体像を把握し、4章では数ヶ月利用している顧客の来月の利用回数の予測を行いました。   
ここでは、教師あり学習の分類を用いて、顧客の退会予測を取り扱います。

### ノック41：データを読み込んで利用データを整形しよう

In [2]:
import pandas as pd
customer = pd.read_csv('customer_join.csv')
uselog_months = pd.read_csv('use_log_months.csv')

In [15]:
year_months = list(uselog_months["年月"].unique())
uselog = pd.DataFrame()
for i in range(1, len(year_months)):
    tmp = uselog_months.loc[uselog_months["年月"]==year_months[i]]
    tmp.rename(columns={"count":"count_0"}, inplace=True)
    tmp_before = uselog_months.loc[uselog_months["年月"]==year_months[i-1]]
    del tmp_before["年月"]
    tmp_before.rename(columns={"count":"count_1"}, inplace=True)
    tmp = pd.merge(tmp, tmp_before, on="customer_id", how="left")
    uselog = pd.concat([uselog, tmp], ignore_index=True)
uselog.head()

       年月 customer_id  count_0  count_1
0  201805    AS002855        5      4.0
1  201805    AS009373        4      3.0
2  201805    AS015233        7      NaN
3  201805    AS015315        3      6.0
4  201805    AS015739        5      7.0

### ノック42：退会前月の退会顧客データを作成しよう

In [17]:
from dateutil.relativedelta import relativedelta
exit_customer = customer.loc[customer["is_deleted"]==1]
exit_customer["exit_date"] = None
exit_customer["end_date"] = pd.to_datetime(exit_customer["end_date"])
for i in range(len(exit_customer)):
    exit_customer["exit_date"].iloc[i] = exit_customer["end_date"].iloc[i] - relativedelta(months=1)
    
#exit_customer["年月"] = exit_customer["exit_date"].dt.strftime("%Y%m")
exit_customer["年月"] = pd.to_datetime(exit_customer["exit_date"]).dt.strftime("%Y%m")
uselog["年月"] = uselog["年月"].astype(str)
exit_uselog = pd.merge(uselog, exit_customer, on=["customer_id", "年月"], how="left")
print(len(uselog))
exit_uselog.head()

33851

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
0,201805,AS002855,5,4.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201805,AS009373,4,3.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201805,AS015233,7,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201805,AS015315,3,6.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201805,AS015739,5,7.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
exit_uselog = exit_uselog.dropna(subset=["name"])
print(len(exit_uselog))
print(len(exit_uselog["customer_id"].unique()))
exit_uselog

1104
1104

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
19,201805,AS055680,3,3.0,XXXXX,C01,M,2018-03-01,2018-06-30,CA1,...,10500.0,通常,3.000000,3.0,3.0,3.0,0.0,2018-06-30,3.0,2018-05-30 00:00:00
57,201805,AS169823,2,3.0,XX,C01,M,2017-11-01,2018-06-30,CA1,...,10500.0,通常,3.000000,3.0,4.0,2.0,1.0,2018-06-30,7.0,2018-05-30 00:00:00
110,201805,AS305860,5,3.0,XXXX,C01,M,2017-06-01,2018-06-30,CA1,...,10500.0,通常,3.333333,3.0,5.0,2.0,0.0,2018-06-30,12.0,2018-05-30 00:00:00
128,201805,AS363699,5,3.0,XXXXX,C01,M,2018-02-01,2018-06-30,CA1,...,10500.0,通常,3.333333,3.0,5.0,2.0,0.0,2018-06-30,4.0,2018-05-30 00:00:00
147,201805,AS417696,1,4.0,XX,C03,F,2017-09-01,2018-06-30,CA1,...,6000.0,通常,2.000000,1.0,4.0,1.0,0.0,2018-06-30,9.0,2018-05-30 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30758,201902,TS645212,4,2.0,XXXX,C03,F,2018-03-01,2019-03-31,CA1,...,6000.0,通常,4.500000,4.5,7.0,1.0,0.0,2019-03-31,12.0,2019-02-28 00:00:00
30787,201902,TS741703,5,6.0,XXXX,C03,M,2018-12-08,2019-03-31,CA3,...,6000.0,入会費無料,6.250000,6.0,8.0,5.0,0.0,2019-03-31,3.0,2019-02-28 00:00:00
30827,201902,TS859258,1,3.0,XXXXX,C02,F,2018-12-07,2019-03-31,CA3,...,7500.0,入会費無料,2.500000,2.0,5.0,1.0,0.0,2019-03-31,3.0,2019-02-28 00:00:00
30842,201902,TS886985,5,3.0,XXX,C02,F,2018-03-01,2019-03-31,CA1,...,7500.0,通常,4.250000,4.0,7.0,2.0,1.0,2019-03-31,12.0,2019-02-28 00:00:00
30852,201902,TS921837,2,3.0,XXXXXX,C01,M,2018-06-04,2019-03-31,CA2,...,10500.0,入会費半額,4.000000,3.5,9.0,2.0,1.0,2019-03-31,9.0,2019-02-28 00:00:00

### ノック43：継続顧客のデータを作成しよう

In [27]:
conti_customer = customer.loc[customer["is_deleted"]==0]
conti_uselog = pd.merge(uselog, conti_customer, on=["customer_id"], how="left")
print(len(conti_uselog))
conti_uselog = conti_uselog.dropna(subset=["name"])
print(len(conti_uselog))

33851
27422

In [28]:
conti_uselog = conti_uselog.sample(frac=1).reset_index(drop=True)
conti_uselog = conti_uselog.drop_duplicates(subset="customer_id")
print(len(conti_uselog))
conti_uselog.head().T

2842

,0,1,2,3,4
年月,201903,201805,201806,201810,201901
customer_id,OA408529,PL821971,IK999111,HI378471,PL617565
count_0,7,5,9,7,4
count_1,6.000000,7.000000,9.000000,4.000000,4.0
name,XXXXXX,XXXXX,XXXXXX,XXXX,XXXX
class,C03,C03,C01,C01,C01
gender,M,F,M,M,M
start_date,2015-11-01,2017-12-01,2018-03-01,2015-12-01,2016-11-01
end_date,NaN,NaN,NaN,NaN,NaN
campaign_id,CA1,CA3,CA1,CA1,CA1
is_deleted,0.000000,0.000000,0.000000,0.000000,0.0
class_name,ナイト,ナイト,オールタイム,オールタイム,オールタイム
price,6000.000000,6000.000000,10500.000000,10500.000000,10500.0
campaign_name,通常,入会費無料,通常,通常,通常
mean,4.166667,7.333333,6.666667,4.666667,5.0
median,4.000000,7.500000,6.500000,4.500000,5.0
max,7.000000,10.000000,9.000000,7.000000,8.0
min,1.000000,5.000000,2.000000,3.000000,3.0
routine_flg,1.000000,1.000000,1.000000,1.000000,1.0
calc_date,2019-04-30,2019-04-30,2019-04-30,2019-04-30,2019-04-30
membership_period,41.000000,16.000000,13.000000,40.000000,29.0

In [29]:
predict_data = pd.concat([conti_uselog, exit_uselog],ignore_index=True)
print(len(predict_data))
predict_data.head().T

3946

,0,1,2,3,4
年月,201903,201805,201806,201810,201901
customer_id,OA408529,PL821971,IK999111,HI378471,PL617565
count_0,7,5,9,7,4
count_1,6.000000,7.000000,9.000000,4.000000,4.0
name,XXXXXX,XXXXX,XXXXXX,XXXX,XXXX
class,C03,C03,C01,C01,C01
gender,M,F,M,M,M
start_date,2015-11-01,2017-12-01,2018-03-01,2015-12-01,2016-11-01
end_date,NaN,NaN,NaN,NaN,NaN
campaign_id,CA1,CA3,CA1,CA1,CA1
is_deleted,0.000000,0.000000,0.000000,0.000000,0.0
class_name,ナイト,ナイト,オールタイム,オールタイム,オールタイム
price,6000.000000,6000.000000,10500.000000,10500.000000,10500.0
campaign_name,通常,入会費無料,通常,通常,通常
mean,4.166667,7.333333,6.666667,4.666667,5.0
median,4.000000,7.500000,6.500000,4.500000,5.0
max,7.000000,10.000000,9.000000,7.000000,8.0
min,1.000000,5.000000,2.000000,3.000000,3.0
routine_flg,1.000000,1.000000,1.000000,1.000000,1.0
calc_date,2019-04-30,2019-04-30,2019-04-30,2019-04-30,2019-04-30
membership_period,41.000000,16.000000,13.000000,40.000000,29.0
exit_date,NaN,NaN,NaN,NaN,NaN

### ノック44：予測する月の在籍期間を作成しよう

In [33]:
predict_data["period"] = 0
predict_data["now_date"] = pd.to_datetime(predict_data["年月"], format="%Y%m")
predict_data["start_date"] = pd.to_datetime(predict_data["start_date"])
for i in range(len(predict_data)):
    delta = relativedelta(predict_data["now_date"][i], predict_data["start_date"][i])
    predict_data["period"][i] = int(delta.years*12 + delta.months)
predict_data.head().T

,0,1,2,3,4
年月,201903,201805,201806,201810,201901
customer_id,OA408529,PL821971,IK999111,HI378471,PL617565
count_0,7,5,9,7,4
count_1,6.000000,7.000000,9.000000,4.000000,4.0
name,XXXXXX,XXXXX,XXXXXX,XXXX,XXXX
class,C03,C03,C01,C01,C01
gender,M,F,M,M,M
start_date,2015-11-01 00:00:00,2017-12-01 00:00:00,2018-03-01 00:00:00,2015-12-01 00:00:00,2016-11-01 00:00:00
end_date,NaN,NaN,NaN,NaN,NaN
campaign_id,CA1,CA3,CA1,CA1,CA1
is_deleted,0.000000,0.000000,0.000000,0.000000,0.0
class_name,ナイト,ナイト,オールタイム,オールタイム,オールタイム
price,6000.000000,6000.000000,10500.000000,10500.000000,10500.0
campaign_name,通常,入会費無料,通常,通常,通常
mean,4.166667,7.333333,6.666667,4.666667,5.0
median,4.000000,7.500000,6.500000,4.500000,5.0
max,7.000000,10.000000,9.000000,7.000000,8.0
min,1.000000,5.000000,2.000000,3.000000,3.0
routine_flg,1.000000,1.000000,1.000000,1.000000,1.0
calc_date,2019-04-30,2019-04-30,2019-04-30,2019-04-30,2019-04-30
membership_period,41.000000,16.000000,13.000000,40.000000,29.0
exit_date,NaN,NaN,NaN,NaN,NaN
period,40,5,3,34,26
now_date,2019-03-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-10-01 00:00:00,2019-01-01 00:00:00

### ノック45：欠損値を除去しよう

In [35]:
predict_data.isna().sum()

年月                      0
customer_id             0
count_0                 0
count_1                 0
name                    0
class                   0
gender                  0
start_date              0
end_date             2630
campaign_id             0
is_deleted              0
class_name              0
price                   0
campaign_name           0
mean                    0
median                  0
max                     0
min                     0
routine_flg             0
calc_date               0
membership_period       0
exit_date            2630
period                  0
now_date                0
dtype: int64

In [34]:
predict_data = predict_data.dropna(subset=["count_1"])
predict_data.isna().sum()

年月                      0
customer_id             0
count_0                 0
count_1                 0
name                    0
class                   0
gender                  0
start_date              0
end_date             2630
campaign_id             0
is_deleted              0
class_name              0
price                   0
campaign_name           0
mean                    0
median                  0
max                     0
min                     0
routine_flg             0
calc_date               0
membership_period       0
exit_date            2630
period                  0
now_date                0
dtype: int64

### ノック46：文字列型の変数を処理できるように整形しよう

In [36]:
target_col = ["campaign_name", "class_name", "gender", "count_1", "routine_flg", "period", "is_deleted"]
predict_data = predict_data[target_col]
predict_data.head()

  campaign_name class_name gender  count_1  routine_flg  period  is_deleted
0            通常        ナイト      M      6.0          1.0      40         0.0
1         入会費無料        ナイト      F      7.0          1.0       5         0.0
2            通常     オールタイム      M      9.0          1.0       3         0.0
3            通常     オールタイム      M      4.0          1.0      34         0.0
4            通常     オールタイム      M      4.0          1.0      26         0.0

In [37]:
predict_data = pd.get_dummies(predict_data)
predict_data.head()

,count_1,routine_flg,period,is_deleted,campaign_name_入会費半額,campaign_name_入会費無料,campaign_name_通常,class_name_オールタイム,class_name_デイタイム,class_name_ナイト,gender_F,gender_M
0,6.0,1.0,40,0.0,0,0,1,0,0,1,0,1
1,7.0,1.0,5,0.0,0,1,0,0,0,1,1,0
2,9.0,1.0,3,0.0,0,0,1,1,0,0,0,1
3,4.0,1.0,34,0.0,0,0,1,1,0,0,0,1
4,4.0,1.0,26,0.0,0,0,1,1,0,0,0,1

In [38]:
del predict_data["campaign_name_通常"]
del predict_data["class_name_ナイト"]
del predict_data["gender_M"]
predict_data.head()

,count_1,routine_flg,period,is_deleted,campaign_name_入会費半額,campaign_name_入会費無料,class_name_オールタイム,class_name_デイタイム,gender_F
0,6.0,1.0,40,0.0,0,0,0,0,0
1,7.0,1.0,5,0.0,0,1,0,0,1
2,9.0,1.0,3,0.0,0,0,1,0,0
3,4.0,1.0,34,0.0,0,0,1,0,0
4,4.0,1.0,26,0.0,0,0,1,0,0

### ノック47：決定木を用いて退会予測モデルを作成してみよう

In [40]:
from sklearn.tree import DecisionTreeClassifier
import sklearn.model_selection

exit = predict_data.loc[predict_data["is_deleted"]==1]
conti = predict_data.loc[predict_data["is_deleted"]==0].sample(len(exit))

X = pd.concat([exit, conti], ignore_index=True)
y = X["is_deleted"]
del X["is_deleted"]
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y)

model = DecisionTreeClassifier(random_state=0)
model.fit(X_train, y_train)
y_test_pred = model.predict(X_test)
print(y_test_pred)

[1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1.
 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 0. 1.
 1. 0. 0. 1. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 1. 0. 0.
 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1.
 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0.
 1. 1. 0. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1.
 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1.
 1. 0. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1.
 0. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1.
 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 1. 0.
 0. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 0. 0. 0.
 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1.
 1. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1.
 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1.
 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0.
 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1. 1. 0. 0. 0.
 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1.
 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0.
 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1.
 1. 1. 0. 1. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1.
 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0.]

In [41]:
exit

,count_1,routine_flg,period,is_deleted,campaign_name_入会費半額,campaign_name_入会費無料,class_name_オールタイム,class_name_デイタイム,gender_F
2842,3.0,0.0,2,1.0,0,0,1,0,0
2843,3.0,1.0,6,1.0,0,0,1,0,0
2844,3.0,0.0,11,1.0,0,0,1,0,0
2845,3.0,0.0,3,1.0,0,0,1,0,0
2846,4.0,0.0,8,1.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
3941,2.0,0.0,11,1.0,0,0,0,0,1
3942,6.0,0.0,1,1.0,0,1,0,0,0
3943,3.0,0.0,1,1.0,0,1,0,1,1
3944,3.0,1.0,11,1.0,0,0,0,1,1
3945,3.0,1.0,7,1.0,1,0,1,0,0

In [16]:
results_test = pd.DataFrame({"y_test":y_test ,"y_pred":y_test_pred })
results_test.head()

      y_test  y_pred
1308     0.0     1.0
111      1.0     1.0
1645     0.0     0.0
1746     0.0     0.0
1948     0.0     0.0

### ノック48：予測モデルの評価を行ない、モデルのチューニングをしてみよう

In [17]:
correct = len(results_test.loc[results_test["y_test"]==results_test["y_pred"]])
data_count = len(results_test)
score_test = correct / data_count
print(score_test)

0.8802281368821293

In [18]:
print(model.score(X_test, y_test))
print(model.score(X_train, y_train))

0.8802281368821293
0.9759188846641318

In [19]:
X = pd.concat([exit, conti], ignore_index=True)
y = X["is_deleted"]
del X["is_deleted"]
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y)

model = DecisionTreeClassifier(random_state=0, max_depth=5)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))
print(model.score(X_train, y_train))

0.9182509505703422
0.9214195183776933

### ノック49：モデルに寄与している変数を確認しよう

In [20]:
importance = pd.DataFrame({"feature_names":X.columns, "coefficient":model.feature_importances_})
importance

         feature_names  coefficient
0              count_1     0.334445
1          routine_flg     0.138804
2               period     0.524600
3  campaign_name_入会費半額     0.000000
4  campaign_name_入会費無料     0.000000
5    class_name_オールタイム     0.000000
6     class_name_デイタイム     0.002151
7             gender_F     0.000000

### ノック50：顧客の退会を予測しよう

In [43]:
count_1 = 3
routine_flg = 1
period = 10
campaign_name = "入会費無料"
class_name = "オールタイム"
gender = "M"

In [44]:
if campaign_name == "入会費半額":
    campaign_name_list = [1, 0]
elif campaign_name == "入会費無料":
    campaign_name_list = [0, 1]
elif campaign_name == "通常":
    campaign_name_list = [0, 0]
if class_name == "オールタイム":
    class_name_list = [1, 0]
elif class_name == "デイタイム":
    class_name_list = [0, 1]
elif class_name == "ナイト":
    class_name_list = [0, 0]
if gender == "F":
    gender_list = [1]
elif gender == "M":
    gender_list = [0]
input_data = [count_1, routine_flg, period]
input_data.extend(campaign_name_list)
input_data.extend(class_name_list)
input_data.extend(gender_list)

In [23]:
print(model.predict([input_data]))
print(model.predict_proba([input_data]))

[1.]
[[0.00278552 0.99721448]]

In [45]:
input_data

[3, 1, 10, 0, 1, 1, 0, 0]